<div class="footerSection">
            <div class="container">
                <div class="row">
                    <div class="logoImage col-xs-12 col-lg-3 col-sm-6">
                        <img src="css/images/logo.png">
                    </div>
                    <div class="footerBusiness col-xs-12 col-lg-3 col-sm-6">
                        <p>Business</p>
                        <ul>
                            <li>
                                <a>About</a>
                            </li>
                            <li>
                                <a href='#/contact'>Contact Us</a>
                            </li>
                            <li>
                                <a href='#/feedback'>Feedback</a>
                            </li>

                        </ul>
                    </div>
                    <div class="footerBusiness col-xs-12 col-lg-3 col-sm-6">
                        <p>Bore Yourself With</p>
                        <ul>
                            <li>
                                <a>Privacy Policy</a>
                            </li>
                            <li>
                                <a>Usage Terms</a>
                            </li>

                        </ul>
                    </div>

                    <div class="footerBusiness col-xs-12 col-lg-3 col-sm-6">
                        <p>Join And Follow Us</p>
                        <ul class="followUsUl">
                            <li>
                                <a><img class="followUsIcon" src='css/images/Facebook.png' />
                                </a>
                            </li>
                            <li>
                                <a><img class="followUsIcon" src='css/images/Twitter.jpg' />
                                </a>
                            </li>
                            <li>
                                <a><img class="followUsIcon" src='css/images/Blog.png' />
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>