<div id="fullpage">
    <div class="section sectionOneClass">
    	<div class="tagLineContainerLanding">
        <h1>Compare Before You Regret.....</h1>
    </div>	
    <div class="row">
		    <div class="col-lg-12 comaprePageRow">
		    	<div class="col-lg-5 compareSearchDiv1">
		    		<ui-select ng-model="city.selected" theme="bootstrap" ng-disabled="false">
		                                <ui-select-match placeholder="Select city in the list...">{{$select.selected.name}}</ui-select-match>
		                                <ui-select-choices repeat="city in cities | filter: $select.search">
		                                    <span ng-bind-html="city.name | highlight: $select.search"></span>
		                                    <!-- <small ng-bind-html="city.code | highlight: $select.search"></small> -->
		                                </ui-select-choices>
		            </ui-select>
		    	</div>
		    	 
		           <span class="col-lg-2 compareTextCls">
		           		Vs
		           </span>
		           <div class="col-lg-5 compareSearchDiv2">
		    		<ui-select ng-model="city.selected" theme="bootstrap" ng-disabled="false">
		                                <ui-select-match placeholder="Select city in the list...">{{$select.selected.name}}</ui-select-match>
		                                <ui-select-choices repeat="city in cities | filter: $select.search">
		                                    <span ng-bind-html="city.name | highlight: $select.search"></span>
		                                    <!-- <small ng-bind-html="city.code | highlight: $select.search"></small> -->
		                                </ui-select-choices>
		            </ui-select>
		    	</div>
		    </div>
    </div>
    <div class="slide">
    	
    		<div class="container domainCollectorClass">
    			<div class="row">
    				<div class="col-lg-4">
    					<div id="" class="height50 domainContainer stockPageDiv">
    						<div class="domainNameClass">Foodie</div>
    					</div>
    					
    					<div class="height50 domainContainer parrotGreenBack">

    						<i class="fa fa-5x menuIcon fa-suitcase" aria-hidden="true"></i>
    						<div class="domainNameClass">Travel</div>
    					</div>
    				</div>
    				<div class="col-lg-4">
    					<div class="height50 domainContainer emberBack">
    						<i class="fa fa-5x  fa-mobile" aria-hidden="true"></i>
    						<div class="domainNameClass">Electronics Appliances</div>
    					</div>
    					<div class="height50">
    						<div class="width60 domainContainer subDdomainContainer blueBack">
    							<i class="fa fa-5x fa-globe" aria-hidden="true"></i>
    							<div class="domainNameClass">Countries</div>
    						</div>
    						<div class="width40 subDdomainContainer purpleBack">
    							<i class="fa fa-5x menuIcon fa-trophy" aria-hidden="true"></i>
    							<div class="domainNameClass">Famous</div>
    						</div>
    						
    					</div>
    				</div>
    				<div class="col-lg-4">
    					<div class="height50">
    						<div class="width60 subDdomainContainer stocksOne brownBack">
    							<i class="fa fa-5x menuIcon fa-car" aria-hidden="true"></i>
    							<div class="domainNameClass">Automobile</div>
    						</div>
    						<div class="width40 subDdomainContainer greyBack">
    							<i class="fa fa-5x menuIcon fa-video-camera" aria-hidden="true"></i>
    							<div class="domainNameClass">Movies</div>
    						</div>
    					</div>
    					<div class="height50 stockPageDivClass">
    						<div class="stocksOne">
    							<div class="domainNameClass">Stock Exchange</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    </div>
    <div class="slide">
    	<div class="container domainCollectorClass">
    			<div class="row">
    				<div class="col-lg-4">
    					
    					<div id="" class="height50 domainContainer stockPageDiv">
    						<div class="domainNameClass">Foodie</div>
    					</div>
    					<div class="height50 domainContainer parrotGreenBack">

    						<i class="fa fa-5x menuIcon fa-suitcase" aria-hidden="true"></i>
    						<div class="domainNameClass">Travel</div>
    					</div>
    				</div>
    				<div class="col-lg-4">
    					<div class="height50 domainContainer emberBack">
    						<i class="fa fa-5x  fa-mobile" aria-hidden="true"></i>
    						<div class="domainNameClass">Electronics Appliances</div>
    					</div>
    					<div class="height50">
    						<div class="width60 domainContainer subDdomainContainer blueBack">
    							<i class="fa fa-5x fa-globe" aria-hidden="true"></i>
    							<div class="domainNameClass">Countries</div>
    						</div>
    						<div class="width40 subDdomainContainer purpleBack">
    							<i class="fa fa-5x menuIcon fa-trophy" aria-hidden="true"></i>
    							<div class="domainNameClass">Famous</div>
    						</div>
    						
    					</div>
    				</div>
    				<div class="col-lg-4">
    					<div class="height50">
    						<div class="width60 subDdomainContainer stocksOne brownBack">
    							<i class="fa fa-5x menuIcon fa-car" aria-hidden="true"></i>
    							<div class="domainNameClass">Automobile</div>
    						</div>
    						<div class="width40 subDdomainContainer greyBack">
    							<i class="fa fa-5x menuIcon fa-video-camera" aria-hidden="true"></i>
    							<div class="domainNameClass">Movies</div>
    						</div>
    					</div>
    					<div class="height50 stockPageDivClass">
    						<div class="stocksOne">
    							<div class="domainNameClass">Stock Exchange</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
     </div>
    <div class="slide"> Slide 3 </div>
    <div class="slide"> Slide 4 </div>

    </div>
    <div class="section sectionTwoClass">
    	<div class="tagLineContainerLanding">
        <h1>See them Battle it out!!!</h1>
    </div>	
    	<div class="container domainCollectorClass">
    			<div class="row">
    				<div class="col-lg-12">
    					<div class="topCompareDivClass">
    						fsdfsdf
    					</div>
    					
    				</div>
    				<div class="col-lg-12">
    					<div class="topCompareDivClass">
    						fsdfsdf
    					</div>
    					
    				</div>
    				<div class="col-lg-12">
    					<div class="topCompareDivClass">
    						fsdfsdf
    					</div>
    					
    				</div>
    				<div class="col-lg-12">
    					<div class="topCompareDivClass">
    						fsdfsdf
    					</div>
    					
    				</div>
    				<div class="col-lg-12">
    					<div class="topCompareDivClass">
    						fsdfsdf
    					</div>
    					
    				</div>
    				<div class="col-lg-12">
    					<div class="topCompareDivClass">
    						fsdfsdf
    					</div>
    					
    				</div>
    				
    			</div>
    		</div>
    </div>
    <div class="section sectionThreeClass">
    		
    	<div class="container domainCollectorClass">
    			<div class="row">
    				<div class="tagLineContainerLanding">
        <h1><i>Your Decision is important so before deciding...</i></h1>
        <h2>COMPARATA It!!!</h2>
    </div>
    				<div class="col-lg-4 noBorder">
    					<div class="height50">
    							<div class="statNumber">
    								10
    							</div>
    							<div class="statName">
    								See domains Battle it out
    							</div>
    					</div>
    					<div class="height50">
    							<div class="statNumber">
    								100,000
    							</div>
    							<div class="statName">
    								Comapring Parameters
    							</div>
    					</div>
    					
    				</div>
    				<div class="col-lg-4 noBorder">
    					<div class="height50">
    							<div class="statNumber">
    								500,000
    							</div>
    							<div class="statName">
    								Products at your Disposal
    							</div>
    					</div>
    					<div class="height50">
    							<div class="statNumber">
    								3000
    							</div>
    							<div class="statName">
    								Currently comparatons online
    							</div>
    					</div>
    					
    				</div>
    				<div class="col-lg-4 noBorder">
    					<div class="height50">
    							<div class="statNumber">
    								44-74402
    							</div>
    							<div class="statName">
    								Call us any-time
    							</div>
    					</div>
    					<div class="height50">
    							<div class="statNumber">
    								24/7
    							</div>
    							<div class="statName">
    								Real time updates
    							</div>
    					</div>
    					
    				</div>
    			</div>
    	</div>
    </div>
    <div class="section sectionFourClass">Some section</div>
</div>